<div class="side-top">
  <div class="user-name">
    <a href="#">Tom</a>
  </div>
  <div class="make-chat">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="chat-index">
  <div class="room-name">
    <a href="#">techroom1</a>
  </div>
  <div class="room-name">
    <a href="#">techroom2</a>
  </div>
</div>